<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div id="typo3-docbody">
    <div id="typo3-inner-docbody">
        <div class="tx-awscloudfront-manager">
            <h1>{title}</h1>
            <f:render partial="Backend/FlashMessage" arguments="{_all}" />
            <f:if condition="{aws_sdk_php}">
            <f:then>
                <f:render section="content" />
            </f:then>
            <f:else>
                <f:render partial="Backend/ExtensionDependency" />
            </f:else>
            </f:if>
        </div>
    </div>
</div>

</html>
