/*
 * AWS CloudFront Manager
 * @author Michael Schams | https://schams.net | https://t3rrific.com
 *
 * See README.md and/or LICENSE.md for copyright and license information.
 */

div.tx-awscloudfront-manager {
}

div.tx-awscloudfront-manager .typo3-messages .alert {
    font-size: 1rem;
    margin-bottom: 2rem;
}

div.tx-awscloudfront-manager table {
}

div.tx-awscloudfront-manager table td.distributionId {
    width: 1%;
    white-space: nowrap;
}

div.tx-awscloudfront-manager table td.domainName {
    white-space: nowrap;
    width: 1%;
}

div.tx-awscloudfront-manager table td.comment {
    white-space: nowrap;
    width: 97%;
}

div.tx-awscloudfront-manager table td.actions {
    white-space: nowrap;
    width: 1%;
}

div.tx-awscloudfront-manager table td.actions a.btn {
}

div.tx-awscloudfront-manager .form-extra-help {
    display: none;
}

div.tx-awscloudfront-manager .card hr {
    color: lightgray;
}
